.parent {
    width: 100%;
	top: 0;
	left: 0;
	overflow: auto;
}

.block {
    height: auto;
	margin-top: 50px;
    
    #registr_team {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: none;
    }
}
#registr_team {
	width: 100%;
	text-align: center;
	cursor: pointer;
}
#register_teams {
	width: 75%;
	text-align: center;
	background-color: #00FF7F;
	border: none;
	padding: 10px;
	margin-top: 10px;
	border-radius: 13px;
	font-size: 15px;
	border: 1px solid #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	opacity: 0.8;
}
#registr_team input {
	width: 70%;
	text-align: center;
	background-color: #fff67a;
	border: none;
	padding: 10px;
	margin-top: 10px;
	border-radius: 13px;
	font-size: 15px;
	border: 1px solid #fff;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}
#registr_team input:hover {
	background-color: #eaeac0;
	border: 1px solid green;
}
#begin_game {
	cursor: pointer;
}






body {
	margin: 0px;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
-webkit-user-select: none;
}
.teams {
	width: 100%;
	background-color: #3c3c3c;
	display: inline-block;
}
.teams-item {
	float: left;
	width: 33.3333333333%;
	text-align: center;
	color: #fff;
}
#hi_teams {
	text-align: center;
}
#continue_game {
	cursor: pointer;
	font-size: 30px;
}
.word-item {
  text-align: center;
  display: block;
  width: 50%;
  float: left;
  font-size: 25px;
  padding-top: 5px;
  margin: 0px;
  background-color: #ffdb4d;
  color: #fff;
  padding-bottom: 5px;
  cursor: pointer;
}
.word-item:hover {
	background-color: #ffdb2d;
}
.chosed {
	text-align: center;
	display: block;
	width: 50%;
	float: left;
	font-size: 25px;
	padding-top: 5px;
	margin: 0px;
	background-color: #ffdb4d;
	color: #fff;
	padding-bottom: 5px;
	cursor: pointer;
}