.parent {
    width: 100%;
	top: 0;
	left: 0;
	overflow: auto;
}

.block {
    height: auto;
	margin-top: 50px;
    
    #registr_team {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: none;
    }
}
#registr_team {
	width: 100%;
	text-align: center;
	cursor: pointer;
}
#register_teams {
	width: 79%;
	text-align: center;
	background-color: #00FF7F;
	border: none;
	padding: 14px;
	margin-top: 10px;
	border-radius: 13px;
	font-size: 40px;
	border: 1px solid #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	opacity: 0.8;
	cursor: pointer;
}
#registr_team input {
	width: 70%;
	text-align: center;
	background-color: #fff67a;
	border: none;
	padding: 21px;
	margin-top: 10px;
	border-radius: 13px;
	font-size: 35px;
	border: 1px solid #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}
#registr_team input:hover {
	background-color: #eaeac0;
	border: 1px solid green;
}
#begin_game {
	cursor: pointer;
	background-color: #ffbd4d;
	font-size: 50px;
	padding: 15px;
	border-radius: 10px;
}






body {
	margin: 0px;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
-webkit-user-select: none;
}
button {
	cursor: pointer;
	background-color: #ffbd4d;
	font-size: 50px;
	padding: 15px;
	border-radius: 10px;
}
.teams {
	width: 100%;
	background-color: #3c3c3c;
	display: inline-block;
}
.teams-item {
	float: left;
	width: 33.3333333333%;
	text-align: center;
	color: #fff;
	-moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
#hi_teams {
	text-align: center;
}
#continue_game {
	cursor: pointer;
	background-color: #ffbd4d;
	font-size: 50px;
	padding: 15px;
	border-radius: 10px;
	display: block;
}
.word-item {
  text-align: center;
	display: block;
	width: 50%;
	float: left;
	font-size: 25px;
	padding-top: 9px;
	margin: 0px;
	background-color: #ffdb4d;
	color: #fff;
	padding-bottom: 9px;
	cursor: pointer;
	border-radius: 8px;
	border: solid 2px #ffefa2;
	opacity: 1;
	-moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.word-item:hover {
	background-color: #ffdb2d;
}
.word-item-chosed {
	text-align: center;
	display: block;
	width: 50%;
	float: left;
	font-size: 25px;
	padding-top: 9px;
	margin: 0px;
	background-color: #ffdb4d;
	color: #fff;
	padding-bottom: 9px;
	cursor: pointer;
	border-radius: 8px;
	border: solid 2px #ffefa2;
	opacity: 0;
	-moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.chosed {
	text-align: center;
	display: block;
	width: 50%;
	float: left;
	font-size: 25px;
	padding-top: 5px;
	margin: 0px;
	background-color: #ffdb4d;
	color: #fff;
	padding-bottom: 5px;
	cursor: pointer;
}
.active-team {
	background-color: #ffbd4d;
}
.points {
	width: 100%;
	float: left;
}
.points h2 {
	margin-top: 2px;
	margin-bottom: 2px;
}
#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #9A12B3;
z-index: 30;}
 
.contpre small{font-size:25px;}
 
.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(images/oval.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;}