.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    
    #registr_team {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: none;
    }
}
#registr_team {
	width: 300px;
	height: 160px;
	border: 1px solid;
	border-color: rgba(191,153,0,.8);
	border-radius: 3px;
	background-color: #ffdb4d;
	cursor: pointer;
	text-align: center;
}
#registr_team input {
	margin: 5px;
	padding: 5px 17px;
	border-style: none;
	color: #333;
	line-height: 1.3;
	text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
	width: 85%;
	box-shadow: none;
	font-size: 20px;
	border-radius: 3px;
}
#begin_game {
	cursor: pointer;
}






body {
	margin: 0px;
	text-align: center;
}
.teams {
	width: 100%;
	background-color: #3c3c3c;
	display: inline-block;
}
.teams-item {
	float: left;
	width: 33.3333333333%;
	text-align: center;
	color: #fff;
}
#hi_teams {
	text-align: center;
	background-color: #ffdb4d;
	padding: 150px;
}
#continue_game {
	cursor: pointer;
	font-size: 30px;
}
.word-item {
  text-align: center;
  display: block;
  width: 50%;
  float: left;
  font-size: 25px;
  padding-top: 5px;
  margin: 0px;
  background-color: #ffdb4d;
  color: #fff;
  padding-bottom: 5px;
  cursor: pointer;
}
.word-item:hover {
	background-color: #ffdb2d;
}
.chosed {
	text-align: center;
	display: block;
	width: 50%;
	float: left;
	font-size: 25px;
	padding-top: 5px;
	margin: 0px;
	background-color: #ffdb4d;
	color: #fff;
	padding-bottom: 5px;
	cursor: pointer;
}